<div class="row ml-1 mr-1 mt-5" style="text-align: center;">
  <div id="home">
    <a routerLink="/"><i class="fa fa-3x fa-home"></i></a>
  </div>
  <div id="profile">
    <h1>INVENTORY</h1>
  </div>
  <div id="check">
    <a *ngIf="loggedIn" routerLink="/profile" (click)="navToProfile()"><i class="fa fa-3x fa-user"></i></a>
  </div>

  <button *ngIf="loggedIn" type="button" class="btn btn-primary btn-lg btn-block" (click)="navToScan()">SCAN</button>
</div>


<!--  DROP DOWN WITH ALL USERS-->


<!--  ROW:  DATE    DATE    SORT   -->
<!--  ROW:  DROPDOWN # Per PAGE       BACK      FORWARD   -->


<!--  LIST:  item name       Quantity      edit(product page)-->


<div class="container-fluid">
  <label class="sbw_light">Filter by Stocker:</label><br/>

  <select (change)="filter()" [(ngModel)]="selectedUser">
    <option *ngFor="let user of users"
            [value]="user._id">
      {{user.username}}
    </option>
    <option [value]="'none'">No Filter</option>
  </select>
</div>

<div class="container-fluid m-1 mt-3">
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">DESCRIPTION</th>
      <th scope="col">QUANTITY</th>
      <th *ngIf="loggedIn" scope="col"></th>

    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let product of selectedItems">

      <td class="d-none d-md-table-cell">{{product.description}}</td>
      <td class="d-none d-md-table-cell">{{product.quantity}}</td>
      <td *ngIf="loggedIn">
        <button (click)="navToProduct(product.sku)">EDIT</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>




