
<div class="row ml-1 mr-1 mt-5" style="text-align: center;">

  <div id="home">
    <a routerLink="/"><i class="fa fa-3x fa-home"></i></a>
  </div>
  <div id="profile">
    <h1>REGISTER</h1>
  </div>
  <div id="check">
  </div>


<div class="container-fluid">
  <form class="border-dark">
    <div class="form-group">
      <input placeholder="Username" type="text" class="form-control" [(ngModel)]="username"
             [ngModelOptions]="{standalone: true}"/>
    </div>

    <div class="form-group">
      <input placeholder="Password" type="password" class="form-control" [(ngModel)]="password"
             [ngModelOptions]="{standalone: true}"/>
    </div>

    <div class="form-group">
      <input placeholder="Verify Password" password="text" class="form-control" [(ngModel)]="verifyPassword"
             [ngModelOptions]="{standalone: true}"/>
    </div>


    <button type="submit"
            class="btn btn-success form-control"
            (click)="registerUser()"
            >REGISTER
    </button>

    <button type="submit"
            class="btn btn-primary mt-1 form-control"
            (click)="navToLogin()"
            >LOGIN
    </button>

  </form>
</div>
</div>
